* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*::selection {
  background-color: #b53145;
  color: #ffffff;
}

html {
  width: 100%;
  height: 100%;
  background-color: #000000;
}

body {
  overflow-x: hidden;
  transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  overscroll-behavior: none;
  width: 100%;
  z-index: 1;
}

body::after {
  animation: grain 2s steps(10) infinite;
  background-image: url(./theme/designSystem/assets/grain.png);
  background-repeat: repeat;
  content: "";
  height: 300%;
  left: -100%;
  opacity: 0.09;
  pointer-events: none;
  position: fixed;
  top: -100%;
  width: 300%;
  will-change: transform;
  z-index: 50;
}

@keyframes grain {
  0% {
    transform: translate(20%, -15%);
  }

  10% {
    transform: translate(-20%, -15%);
  }

  20% {
    transform: translate(20%, -5%);
  }

  30% {
    transform: translate(-20%, -5%);
  }

  40% {
    transform: translate(20%, 5%);
  }

  50% {
    transform: translate(-20%, 5%);
  }

  60% {
    transform: translate(20%, 15%);
  }

  70% {
    transform: translate(-20%, 15%);
  }

  80% {
    transform: translate(20%, 5%);
  }

  90% {
    transform: translate(-20%, 5%);
  }

  to {
    transform: translate(20%, -5%);
  }
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

.requirements {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
  transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
}

.requirements_hover {
  -webkit-text-fill-color: #fff;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
  color: #fff;
  transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
}

.catalog_item_container {
  position: relative;
  width: 100%;
}

.buyme_overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.3s ease;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  mix-blend-mode: difference;
}

.catalog_item_container:hover .buyme_overlay {
  opacity: 1;
}

.rotating {
  animation: rotating 10s linear infinite;
}

@-webkit-keyframes rotating {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotating {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
